### 모델정의

In [1]:
from sklearn.neighbors import KNeighborsClassifier

In [2]:
bmi_model = KNeighborsClassifier(n_neighbors=5)

### 학습

In [3]:
import pandas as pd

In [5]:
bmi_data = pd.read_csv("bmi_lbs.csv")

In [8]:
bmi_data.tail(5)  #2차원 데이터 프레임

               Label  Gender  Height  Weight(lbs)
495  Extreme Obesity  Female     150     337.3038
496          Obesity  Female     184     266.7566
497  Extreme Obesity  Female     141     299.8256
498  Extreme Obesity    Male     150     209.4370
499  Extreme Obesity    Male     173     288.8026

In [10]:
# 데이터 전처리 (lbs > Kg)
bmi_data['Weight(Kg)'] = bmi_data['Weight(lbs)'] * 0.453

In [16]:
# weight를 실수 >>> 정수
bmi_data['Weight(Kg)'] = bmi_data['Weight(Kg)'].astype('int32')

In [17]:
bmi_data

               Label  Gender  Height  Weight(lbs)  Weight(Kg)
0            Obesity    Male     174     211.6416          95
1             Normal    Male     189     191.8002          86
2            Obesity  Female     185     242.5060         109
3         Overweight  Female     195     229.2784         103
4         Overweight    Male     149     134.4806          60
..               ...     ...     ...          ...         ...
495  Extreme Obesity  Female     150     337.3038         152
496          Obesity  Female     184     266.7566         120
497  Extreme Obesity  Female     141     299.8256         135
498  Extreme Obesity    Male     150     209.4370          94
499  Extreme Obesity    Male     173     288.8026         130

[500 rows x 5 columns]

In [18]:
# 학습할 문제와 답으로 분리
x = bmi_data[['Height','Weight(Kg)']]
y = bmi_data['Label']

In [20]:
x.shape

(500, 2)

In [21]:
bmi_model.fit(x,y)

KNeighborsClassifier()

### 예측

In [22]:
# 샘플 데이터 추출
x_sample = x.iloc[105:110]   #.iloc[행,열]
y_sample = y.iloc[105:110]

In [23]:
pre = bmi_model.predict(x_sample) #예측할 샘플 데이터 5개 (키, 몸무게)
pre

array(['Obesity', 'Extreme Obesity', 'Extreme Obesity', 'Obesity',
       'Overweight'], dtype=object)

### 평가
 -정확도(accuracy) : 예측한 전체 데이터 중에 정확히 맞춘 데이터의 비율

In [25]:
from sklearn.metrics import accuracy_score

In [26]:
score = accuracy_score(y_sample, pre)

In [27]:
score

1.0

### 활용

In [28]:
bmi_model.predict([[165,50],[185,45]])  #여러개 값이라 2차원으로

array(['Normal', 'Extremely Weak'], dtype=object)