#### 01. [리스트내포] 리스트 내포를 이용하여 0부터 9까지 숫자들 중 3으로 나눈 나머지가 0인 숫자에 대해 그 제곱에 대한 리스트를 출력하시오.

출력 값 : [0, 9, 36, 81]

In [3]:
list1 = [i**2 for i in range(10) if i%3 ==0]
list1

[0, 9, 36, 81]

#### 02.

길이가 n이고, 수박수박수박수....와 같은 패턴을 유지하는 문자열을 리턴하는 함수, watermelon을 완성하세요. 
예를 들어 n이 4이면 수박수박을 리턴하고 3이라면 수박수를 리턴하면 됩니다.

* n은 길이 10,000이하인 자연수입니다.

In [214]:
num = int(input("N은 : "))
def watermelon(num):
    answer=""
    for i in range(num):
        if num%2 == 0:
            answer += "박"
        else:
            answer += "수"
    return answer

watermelon(num)

N은 : 5

'수수수수수'

#### 03. [random 모듈] 1~6 중 1개 숫자가 나오는 주사위를 구현하세요.

In [154]:
import random

In [223]:
random.randrange(1,6+1)

6

#### 04. [datetime 모듈] 2016년 a월 b일은 무슨 요일?

두 수 a, b를 입력받아 2016년 a월 b일이 무슨 요일인지 리턴하는 함수 solution을 완성하세요. 

 * 2016년 1월 1일은 금요일입니다.
 * 요일은 일~토까지 각각 SUN, MON, TUE, WED, THU, FRI, SAT입니다.
 예를 들어 A=5, B=24라면 5월 24일은 화요일이므로 문자열 TUE를 반환하세요.
 * 2016년은 윤년입니다.
 * 2016년 a월 b일은 실제로 있는 날입니다. (13월 45일같은 날짜는 주어지지 않습니다.)
    

- hint : weekday()는 요일 정보를 숫자로 반환함 (월: 0, 일: 6)

In [31]:
import datetime

In [43]:

daylist = ["MON","TUE","WED","THU","FRI","SAT","SUN"]
mon = int(input("A : "))
day = int(input("B : "))
daylist[datetime.date(2016,mon,day).weekday()]

A : 5
B : 24

'TUE'

## Pandas 이용하여 식당 데이터 분석하기
선택 옵션에 따라 음식 가격이 달라지는 식당 데이터 [chipotle.csv]입니다.
아래 컬럼 정보를 토대로 적절한 값들을 추출하세요.
    
** 아래 내용은 문제로 포함하지 않습니다.
- pandas를 import하는 작업
- csv 파일을 가져오는 작업



** 각 컬럼은 다음을 의미합니다.
- order_id : 주문 번호
- quantity : 주문 수량
- item_name : 메뉴 이름
- choice_description : 선택 옵션 (소스나 재료)
- item_price : 메뉴 가격

In [47]:
# pandas 라이브러리 가져오기
import pandas as pd

In [136]:
# 데이터 파일 읽어오기
mart = pd.read_csv("chipotle.csv")
mart

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

#### 05. [apply 사용] 타입을 변환하는 함수를 만들고 apply 적용해 가격을 실수형으로 변환하세요.
    * 가격은 $표시가 있어 String타입입니다.

In [153]:
mart_p = mart['item_price'].str.strip("$")
mart_p = P.apply(float)
mart_p

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

#### 06. [결측치 없애기] 주문 시 옵션을 선택하지 않은 주문건들도 존재합니다. 노옵션(NaN)인 값들을 'Origin'으로 변경하고 저장하세요.

In [138]:
mart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [139]:
mart = mart.fillna('Origin')
mart

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,Origin,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,Origin,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

#### 07. 해당 데이터의 메뉴 가격을 이용해 가게의 총 매출을 구하세요.

In [141]:
mart_p.sum()

34500.16

#### 08. 메뉴별 가격을 구하고, 가장 비싼 메뉴 10개를 확인하세요.
    * 가장 높은 가격 순으로 10개만 보여주세요.

In [213]:
mart[['item_name','choice_description','item_price']].\
sort_values(by = "item_price", ascending = False).head(10)

,item_name,choice_description,item_price
2624,Steak Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Sour Cream,...",$9.39
4419,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$9.39
4036,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Chees...",$9.39
1825,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Chees...",$9.39
3115,Carnitas Salad Bowl,"[Tomatillo Green Chili Salsa, [Rice, Pinto Bea...",$9.39
4547,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$9.39
3098,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$9.39
4241,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$9.39
1418,Barbacoa Salad Bowl,[Roasted Chili Corn Salsa],$9.39
4391,Steak Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Pinto Beans...",$9.39

#### 09. 매출이 높은 주문번호 상위 5개를 확인하세요.
    * 결과 값은 메뉴 가격을 기준으로 높은 가격부터 5개만 보여주세요.

#### 10 .'Chicken Bowl'을 2개 이상 주문한 주문번호들을 출력하세요.